# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/

# Session info
octave-workspace

# Simulink autosave extension
.autosave

# Data generated
hots_data*

N-datasets/nmnist_data/

N-datasets/newdb_tdcut/

N-datasets/N-NMIST/

N-datasets/N-Caltech101/

N-datasets/Faces/

N-datasets/Elie-NMIST/
